body {
  background-color: white;
  font-family: sans-serif;
}

h1 {
  color: black;
}

.header {
  padding-left: 100px;
}

.container {
  padding: 10px 50px 10px 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  background-color: #dedede;
}
