body {
  background-color: pink;
  font-family: sans-serif;
}

h1 {
  color: black;
}

.header {
  padding-left: 100px;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  background-color: #dedede;
}
