<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Social Data &amp; Visualizations</title>
    <script type="text/javascript" src="d3/d3.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div class="header">
      <h1>Social Data &amp; Visualizations</h1>
      <p>
        This is a test page to work with d3js.
      </p>
      <a href="{{ site.baseurl }}/week2">Week 2</a>
    </div>
    <div class="container">

    </div>
    <script type="text/javascript">
      var dataset = [5, 10, 15, 20, 25];

      d3.select(".container")
        .selectAll("p")
        .data(dataset)
        .enter()
        .append("p")
        .text(function(d) {
          return 'The value of this data point is ' + d;
        })
        .style("color", function(d) {
          return d > 15 ? 'red' : 'black';
        });

      console.log(d3.selectAll("p"))
    </script>

  </body>

</html>